body {
  margin: 0;
  background-color: rgb(20, 20, 20);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  background-color: rgb(20, 20, 20);

  --orange-primary-tone: rgb(240,140,0);
  --orange-secondary-tone: rgb(185, 108, 0);
  --blue-primary-tone: rgb(48,192,209);
  --blue-secondary-tone: rgb(41, 153, 165);
}

